doctype html
html
  head
    title= __('index.title')
    link(rel='stylesheet', href='/stylesheets/style.css')
    block include

  body
    #headerdiv(style="float:right;")
      a(href='/users') user
      a(href='/chat') chat
      a(href='/setup/book') book
      select(onchange="window.location.href='/i18n/'+this.value+'?pathname='+location.pathname;")
        option(value='hi') हिन्दी
        option(value='bn') বাংলা
        option(value='te') తెలుగు
        option(value='mr') मराठी
        option(value='ta') தமிழ்
        option(value='gu') ગુજરાતી
        option(value='kn') ಕನ್ನಡ
        option(value='ml') മലയാളം
        option(value='pa') ਪੰਜਾਬ
        option(value='en') english
        option(value='ar') عربى
    br
    block content
