extends layout
block content
    form(action="")
        span= name
        input
        br
        span= username
        input
        br
        span= password
        input(type="password")
        br
        span= reenterpassword
        input(type="password")